<h1>COUNT</h1>

<a href={% url 'home' %}>Return Home</a>

<h3>There are {{count}} words in your text</h3>

<h3>Your text</h3>

 {{fulltext}}

 <h1>Word Count:</h1>

    {% for word, countTotal in sortedWords %}
      {{ word }} - {{ countTotal }}
      <br />
    {% endfor %}
