<h1>WORD COUNT</h1>

<br />

<a href={% url 'about' %}>About </a>

<br />

<form action="{% url 'count' %}">
  <textarea cols="40" rows="10" name="fulltext"> </textarea>
  <br />
  <input type="submit" value="Count!">
</form>