{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>

{% if error %}

{{ error }}

<br/><br/>

{% endif %}

<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}

  Username:
  <br />
  <input type="text" name="username" />

  <br />
  Password:
  <br />
  <input type="password" name="password" />

  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="Login" />

</form>

{% endblock %}