{% extends 'base.html' %}

{% block content %}

<h1>Sign Up!</h1>

{% if error %}

{{ error }}

<br/><br/>

{% endif %}

<form action="{% url 'signup' %}" method="POST">
  {% csrf_token %}

  Username:
  <br />
  <input type="text" name="username" />

  <br />
  Password:
  <br />
  <input type="password" name="password1" />

  <br />
  Confirm Password:
  <br />
  <input type="password" name="password2" />

  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="Sign Up!" />

</form>

{% endblock %}